@font-face {
    font-family: 'AirFactoryRounded';
    src: url(Fonts/AirFactoryRounded/Air\ Factory\ Rounded\ Light.ttf);
}

@font-face {
    font-family: 'FontsFree-Net-acherus-grotesque-medium';
    src: url(Fonts/FontsFree-Net-acherus-grotesque-medium.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #8cc6ec, #92a4e4 );
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.contenant {
    
    display: flex;
    flex-direction: row;
   /* justify-content: center;
    padding: 50px;
    width: 80vw;
    height: 80vh;*/
    margin: 0 auto;
    /* height: 80vh; */
    width: 80vw;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    background-image: cover;
}

.generalinformation {
    width: 50%;
    /* height: 100%; */
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
.contactdetails {
    background-color: rgb(79, 84, 212);
    width: 50%;
    /* height: 100%; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'UniverLts', serif;
}
h1 {
    color: rgb(47, 120, 230);
    margin-left: 10%;
    font-size: 1.6em;
    font-family: 'AirFactoryRounded', 'Times New Roman', Times, serif;
    margin-top: 35px;
    position: relative;
    
}
h2 {
    color: white;
    margin-left: 10%;
    margin-top: 30px;
    /* margin-right: 9%; */
    font-size: 1.6em;
    font-family:'FontsFree-Net-acherus-grotesque-medium', 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-bottom: 8px;
}

input[type=text] {
    box-sizing: content-box;
    line-height: 0px ;
    border: transparent;
    border-bottom: solid gray 1px;
    margin-left: 11%;
    width: 37.8%;
    padding: 20px 0 8px 0;
    
}
#lastname {
    margin-left: 4.4%;

}

.menu, #employees {
    
    background-color: white;
    border-top: solid transparent;
    border-left: transparent;
    border-right: transparent;
    color: gray;
    margin-left: 11%;
    width: 80%;
    padding: 20px 0 8px 0;
}
#company {
    width: 80%;
}
#employees {
    margin-left: 4.4%;
    width: 30.93%;
}
#businessarena {
    width: 44.67%;
    padding-bottom: 9px;
}
#street, #additionnal_information, #country, #zipcode, #code, #place, #phonenumber, #mail {
    
    box-sizing: content-box;
    border: none;
    background: none;
    border-bottom: solid rgba(150,131, 252, 0.5) 1.4px;
    color: white;
    margin-left: 11%;
    width: 80%;
    padding: 20px 0 8px 0;
}
.contactdetails option {
    background: black;
}
input:focus, select:focus {
    outline: none;
}

#place, #phonenumber{
     margin-left: 4.4%;
     width: 50.37%;
}
#zipcode, #code {
    width: 25.23%;
}

#code, #phonenumber {
    padding-top: 24px;
}


.cond {
    color: white;
    margin-left: 11%;
    padding-top: 30px;
}
.newButton {
    position: relative;
}

.newButton label {
    cursor: pointer;
    margin-left: 5%;
}

.newButton label::before {
    content: "";
    position: absolute;
    left: 1%;
    bottom: 32%;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 3px  rgba(0,0,0,0.8);
}
.newButton label::after {
    content: "";
    position: absolute;
    left: 1.8%;
    bottom: 37%;
    width: 7px;
    height: 7px;
    border: 1px solid white;
    background-color: white ;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.4s;
}
.newButton input
{
    display: none;
}
.newButton input:checked ~ label::after
{
    opacity: 1;
}

#agree {
    margin-left: 10px;
}
a {
    color: white;
    font-weight: bold;
    font-family: 'AirFactoryRounded';
    
}
#register {
    background-color: white;
    color: rgba(0,0, 0, 0.8);
    
    border-radius: 30px;
    border-color: white;
    font-weight: bold;
    margin-left: 11%;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    
}
.contactdetails input::placeholder {
    color: white;
    opacity: 1;
    
}

#forme {
    position: relative;
    left: 25px;
}

